*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("../img/estrellas.png");
}

header, .main, footer{
	width: 90%;
	margin: 20px auto;
	padding: 0 auto;
}
footer{
	border-radius: 25px;
	text-align: center;
}
header nav{
	margin: 0 auto;
	overflow: hidden;
	background-color: #163757;
	border-radius: 25px;
	font-family: "Gloria Hallelujah", cursive;
	font-size: 20px;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float: left;
	margin-right: 38px;
}

header nav ul li a{
	padding: 20px;
	display: block;
	color: #ffffff;
	text-decoration: none;
}

header nav ul li a:hover{
	background-color: #3474B4;
}

#videos{
	background-color: rgba(34,252,0,0.3);
	width: 23%;
	height: 820px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	border-radius: 25px;
}
#history{
	background-color: rgba(91,44,111,0.8);
	width: 75%;
	height: 280px;
	margin-top: 10px;
	margin-left: 15x;
	float:left;
	border-radius: 25px;
}

#history2{
	background-color: rgba(252,0,0,0.3);
	width: 75%;
	height: 325px;
	margin-top: 10px;
	margin-left: 15x;
	float:left;
	border-radius: 25px;
}
#history3{
	background-color: rgba(249,112,247,0.6);
	width: 75%;
	height: 200px;
	margin-top: 10px;
	margin-left: 15x;
	float:left;
	border-radius: 25px;
}

footer{
	background-color: #8EB5B6;
	float: left;
	margin-left: 77px;
	margin-top: 10px;
}
#ochentas, #noventas, #dosmil{
	margin-left: 5px;
	margin-bottom: 15px;
	margin-top: 25px;
	font-family: "Arial", "Verdana", sans-serif;
}
#ochentas ul li{
	color: #ECF0F1;
}
#noventas ul li{
	color: #ECF0F1;
}
#dosmil ul li{
	color: #ECF0F1;
}

.links a:link{
	text-decoration: none;
}
.links {
	font-family: "Arial", "Verdana", sans-serif;
	color: #ECF0F1;
	text-decoration: none;
	list-style: none;
	
}
.iconomusical{
	padding: 10px;
	margin: 10px;
	border: 2px solid black;
	float: left;
	border-radius: 25px;
}
.histinfo{
	margin: 10px;
	text-align: justify;
	font-family: "Arial", "Verdana", sans-serif;
	color: #ECF0F1;
}
#ritmos{
	margin-left: 28px;
}

#videos p{

}