*{
	margin: 0;
	padding: 0;

}

body{

	background-image: url(../img/img-8.jpg)
	/* imagen de fondo del documento*/
			



}


/*  Aca esta el  h1 el titulo header del documento*/	


header h1{
	font-family: sans-serif;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
	

}
/* Aca es donde esta img principal del header  documento*/
header img{
	width: 50%;
	align-content: center;
	background-size: 500px;
	background-attachment: scroll;
	background-position: center;
	padding: 10px;
	padding-right: 300px ;
	padding-left: 300px;
	background-repeat: no-repeat;
	right: :300px;

}

/*  aca es donde se edita el menu del nav */
nav{
	padding-top: 10px;
	padding-bottom: 20px; 
	padding-left: 150px;

}


#menu li{
	padding:30px;
	margin: 0px auto;
    overflow: hidden;
    height: 100px;
    display: inline;
    position: center;
    
	
}

#menu li a{
	font-family:sans-serif;
	font-size: 20px;
	text-decoration: none;
	text-orientation: center;
	padding: 5px;
	background-color: #505050;
	color: #ffffff;
}
#menu li a:hover{
	background-color:#000000;
	color: white;
	margin-top:-5px;
	margin-left: 5px;
	margin-right:5px;
	padding-bottom: 10px;
}
/*---------inicia el css de la seccion main-----(titulo y parrafo)-----------------*/

.articles.main{
	text-align: center;color: black;
	padding: 20px;
	font-size:20px;
	margin-bottom: 20px;
	color: white;	
	padding-bottom: 100px;
	padding-left: 50px;
	}

h2{
	padding-bottom: 30px;
	color: white;
	font-size: 30px;
	text-align: center;
}

p{
	padding-bottom: 30px;
	color: white;
	text-align: center;
	font-size: 25px;
	text-indent: 20px;
	padding-left: 10px;
	
}


/*--- inicia el css  de article contentvideos----*/
/* aca  estan los enlases para ver los videos */


#contentvideos a:-webkit-any-link {
    color: -webkit-link;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    text-indent: 10px;
    padding-top: 10px;
    text-align: center;


}






/*---------- inicia el css  de article contentfotos
cada id y cada div editado por aparte de cada imagen----------------*/




 #contentfotos .main{
margin: auto;
padding-left:10px;
width: 1200px;
height: 700px;
float: left;




}
.one{
	padding-top: 100px;
	padding-left: 150px
	/*position: relative;*/
	

}


#one{
	width: 400px;
	height: 230px;
	opacity:1;
	border: 10px solid #2471A3;
	

}

.two{
	
	float: left;
	position: relative;
	top: -235px;
	padding-left: 650px;
	bottom: 300px;
	

}

#two{
	width: 280px;
	height: 220px;
	float: left;
	position: relative;
	border: 10px solid #2471A3;

}
    
.three{
	width: 300px;
	height: auto;
	padding-left: 150px;
	top: -335px;
}


#three{
	width: 400px;
	height: 250px;
	border: 10px solid #2471A3;

}

.four{
	float: left;
	position: relative;
	top: -255px;
	padding-left: 650px;
	bottom: 300px;
}


#four{
	width: 280px;
	height: 230px;
	float: left;
	position: relative;
	border: 10px solid #2471A3;


}

.five{
	
	width: 350px;
	height: auto;
	padding-left: 140px;
	padding-top: 10px;

}

#five{
	width: 350px;
	height: 310px;
	border: 10px solid #2471A3;


}
.six{
	float: left;
	position: relative;
	top: -315px;
	padding-left: 590px;
	
}



#six{
	width: 380px;
	height: 280px;
	float: left;
	position: relative;
	border: 10px solid #2471A3;


}



/*---------- inicia el css de footer---------------------*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color:black;
  text-align: center;
  color:white; 
  bottom: -20px;
  font-size: 20px;
  width: 100%;
}












